html {
  background-color: #869660;
}

* {
  margin: 0px;
}

#container {
  background-color: white;
  margin: 5px 20px 0px 20px;
  padding: 30px;
  padding-bottom: 20px;
}

header {
  margin-bottom: 20px;
}

h2 {
  font-weight: 400;
  font-size: 30px;
}

nav button {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #e5e9dc;
  margin-bottom: -2px;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

nav button:hover {
  background-color: #e5e9dc;
  border: 2px solid #e5e9dc;
}

nav {
  border-bottom: 2px solid #e5e9dc;
}

#left {
  display: inline-block;
  width: 50%;
}

#left p {
  margin-top: 15px;
}

#left img {
  width: 100%;
}

#image {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow:hidden;
  border:1px solid black;
}

#img-desc {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: white;
}

table {
  margin-bottom: 15px;
}

form {
  position: relative;
  background-color: #e5e9dc;
  color: black;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

form button {
  background-color: #869660;
  border: none;
  color: white;
  height: 30px;
  border-radius: 2px;
  width: 94%;
  margin-bottom: 5px;
  cursor: pointer;
}

.pass {
  height: 30px;
  margin-bottom: 10px;
  outline: none;
  width: 93%;
}

#right {
  display: inline-block;
  position: absolute;
  width: 30%;
  background-color: #e5e9dc;
  right: 50px;
}

#right p {
  padding: 15px;
}

footer {
  margin-top: 20px;
  border-top: 2px solid #e5e9dc;
  text-align: center;
}

footer p {
  margin-top: 20px;
}

#dark{
    position:absolute;
    width:100%;
    height:30%;
    z-index:2;
    background-color:black;
    opacity: 0.7;
    display:none;
}